* {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: gothambold, sans-serif;
    color: white;
}
@font-face {
    font-family: 'gothamblack';
    src: url('./font/gotham-black-webfont.woff2') format('woff2'),
         url('./font/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambold';
    src: url('./font/gotham-bold-webfont.woff2') format('woff2'),
         url('./font/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambold_italic';
    src: url('./font/gothambolditalic-webfont.woff2') format('woff2'),
         url('./font/gothambolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambook';
    src: url('./font/gothambook-webfont.woff2') format('woff2'),
         url('./font/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambookitalic';
    src: url('./font/gotham-bookitalic-webfont.woff2') format('woff2'),
         url('./font/gotham-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamlight';
    src: url('./font/gotham-light-webfont.woff2') format('woff2'),
         url('./font/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamlight_italic';
    src: url('./font/gothamlightitalic-webfont.woff2') format('woff2'),
         url('./font/gothamlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothammedium';
    src: url('./font/gothammedium-webfont.woff2') format('woff2'),
         url('./font/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothammedium';
    src: url('./font/gothammediumitalic-webfont.woff2') format('woff2'),
         url('./font/gothammediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamthin';
    src: url('./font/gotham-thin-webfont.woff2') format('woff2'),
         url('./font/gotham-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamthinitalic';
    src: url('./font/gotham-thinitalic-webfont.woff2') format('woff2'),
         url('./font/gotham-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothamultraitalic';
    src: url('./font/gotham-ultraitalic-webfont.woff2') format('woff2'),
         url('./font/gotham-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wizardregular';
    src: url('./font/wizard-webfont.woff2') format('woff2'),
         url('./font/wizard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

nav {
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
}  

nav a {
    font-size:x-large;
    font-family: gothamthin, sans-serif;
    text-decoration: none; 
    transition: transform 0.2s;
}

nav a:hover {
    transform: scale(1.2);
}

.beatshoplink {
    font-family: gothamblack, sans-serif;
}


.section1 {
    width: auto;
    height: 100vh;
}

.bandeau p {
    font-family: gothambookitalic, sans-serif;
    display: block;
    overflow: hidden;

}

video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.3) translate(0 , 20px);
    object-fit: cover;
    object-position: center;
}
.section1 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate( 0 , -50%);
    z-index: 1;
}

.logoReseaux a {
    margin: 10px;
}

.logoReseaux a img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
    filter: invert(100%)
}
.logoReseaux a img:hover {
    transform: scale(1.2);
}

.section2 {
    height: 200vh;
    background-color: #380a3e;
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2::before {
    content: '';
    display: block;
    position: absolute;
    top: -200px;
    background-image: url("./img/backgroundwavy.svg");
    background-size: cover;
    background-position: 0% 83%;
    width: 100%;
    height: 200px;
}

